<li class="dropdown" data-admin-menu>
    <a href="#">
        Admin
        <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="/Tavling/Index">Användare</a></li>
        <li class="divider"></li>
    </ul>
</li>
